<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AUCLINE</title>
    <link rel="stylesheet" href="stylesheets/css/logo.css">
    <link rel="stylesheet" href="stylesheets/css/navbar.css">
    <link rel="stylesheet" href="stylesheets/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<html>
    <body>
        <header>         
            <nav>   
                <span>AUCLINE</span>                   
                    <a class="nav-link" href="/contactUs">Contact Us </a>                      
                    <a class="nav-link">Live Bids </a>
                    <a class="nav-link" href="/signup">Sign-Up</a>
                    <a class="nav-link" href="/signin">Login</a>
            </nav>
        </header><br><br><br><br>
       <div id="d1">Software Service for Auction Websites.</div><br>
       <div id="d2">Having created your account you will be provided with a login and password which gives you access to an admin page
    which allows you to:
    <ul>
            <li>Describe why you are holding an online auction</li><br>
            <li>Upload your own logo or picture</li><br>
            <li>Add your auction items e.g. item descriptions, item values, pictures, end dates etc.</li><br>
            <li>Control the starting bid and bidding increments</li><br>
            <li>Determine if you want to extend the auction period in case of late bidding</li><br>
            <li>View a history of the bidding, including your bidder's contact details</li><br>
    </ul>

</div>
       
       
    </body>
</html>